.happy {
  fill: none;
  stroke: red;
  stroke-width: 4px;
  width: 500px;
  filter: none;
}
.happy path:nth-child(3n) {
  animation: dash 10s infinite forwards;
}

path:nth-child(3n + 1) {
  animation: dash 10s infinite forwards;
  animation-delay: 1s;
}

path:nth-child(3n + 2) {
  animation: dash 10s infinite forwards;
  animation-delay: 2s;
}

@keyframes dash {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
