* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Shippori Mincho", serif;
}
body {
	background-color: white;
}
textarea {
	font-size: 80px;
	padding: 100px;
	letter-spacing: 0.05em;
	line-height: 1.76em;
	width: 100vw;
	height: 100vh;
	border: none;
	background: none;
}
input[type="color"] {
	margin-left: 50px;
	width: 30px;
	height: 35px;
	vertical-align: -15px;
	/* border: 1 solid white; */
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	border: none;
	background: none;
	border-radius: 50%;
	cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
	border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	border: none;
	border-radius: 50%;
}
.fontSize {
	margin: 10px 10px 0;
	-webkit-appearance: none;
	appearance: none;
	background-color: #c7c7c7;
	height: 2px;
	overflow: visible;
}
.fontSize::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	position: relative;
	border: none;
	width: 12px;
	height: 12px;
	display: block;
	background-color: #616161;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}
textarea:focus {
	outline: none;
}
input:hover {
	/* background-color: rgb(56, 0, 62); */
}
input:active {
	/* background-color: rgb(142, 0, 158); */
}
