@charset "utf8";
@media screen and (max-width: 375px) {
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 50px;
    color: rgb(20, 20, 20);
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  input {
    width: 70px;
    height: 70px;
    margin-left: 0px;
    margin-bottom: 20px;
    box-shadow: inset 3px 3px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    font-size: 50px;
    text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: inherit;
    font-family: "Raleway", sans-serif;
  }
  input:hover {
    box-shadow: inset 3px 3px 4px 4px rgb(223, 94, 255);
  }

  #b1 {
    width: 160px;
    border-radius: 35px;
    font-size: 40px;
  }

  #b2 {
    width: 160px;
    border-radius: 35px;
    font-size: 23px;
  }
  #result {
    width: 100%;

    border-radius: 0;
    margin: 50px auto 70px auto;
    padding: 0 10% 0 10%;
    display: block;
    text-align: right;
  }
}
