@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans Condensed", sans-serif;
  background: black;
  font-size: 16px;
}

body::after {
  animation: anime 10s infinite linear;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: white;
  background: black;
  line-height: 50px;
  text-align: center;
  animation: title 2s infinite alternate;
}
a {
  color: pink;
}
/*-------------*/

img {
  width: 100vw;
  height: calc(100vh - 50px);
  animation: image 8s infinite linear;
}
a {
  text-decoration: none;
}
@keyframes title {
  from {
    filter: blur(2.5px);
  }
  to {
    filter: blur(1px);
  }
}

@keyframes image {
  from {
    filter: hue-rotate(0);
    background-blend-mode: hue;
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.text {
  position: absolute;
  font-size: 3em;
  transform-origin: left;
  color: white;
  background: rgba(1, 1, 1, 0.3);
}
.text:nth-child(2) {
  animation: t_anime 1s infinite linear;
  left: calc(50% - 400px);
  top: calc(50% - 200px);
  color: yellow;
  transform-origin: right;

  transform: rotate(30deg);
}

.text:nth-child(3) {
  animation: t_anime 1s infinite linear;
  left: calc(50% - 400px);
  top: calc(50% - 100px);
  color: red;
  transform-origin: right;

  transform: rotate(-30deg);
  animation-delay: 0.1s;
}

.text:nth-child(4) {
  animation: t_anime 1s infinite linear;
  left: calc(50% - 500px);
  top: calc(50% - 50px);
  color: blue;
  transform-origin: right;

  transform: rotate(-60deg);
  animation-delay: 0.2s;
}

.text:nth-child(5) {
  animation: t_anime 1s infinite linear;
  left: calc(50% - 400px);
  top: calc(50% - 100px);
  color: cyan;
  transform-origin: right;

  transform: rotate(-40deg);
  animation-delay: 0.3s;
}

.text:nth-child(6) {
  animation: t_anime 1s infinite linear;
  left: calc(50% - 300px);
  top: calc(50% - 150px);
  color: pink;
  transform-origin: right;

  transform: rotate(15deg);
  animation-delay: 0.4s;
}

@keyframes t_anime {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    opacity: 0;
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .text {
    font-size: 2em;
  }
  .text:nth-child(2) {
    transform: none;
    top: 100px;
    left: 5%;
  }
  .text:nth-child(3) {
    transform: none;
    top: 200px;
    left: 5%;
  }
  .text:nth-child(4) {
    transform: none;
    top: 300px;
    left: 5%;
  }
  .text:nth-child(5) {
    transform: none;
    top: 400px;
    left: 5%;
  }
  .text:nth-child(6) {
    transform: none;
    top: 500px;
    left: 5%;
  }
}
