* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html body {
  font-family: 'Kiwi Maru', serif;
  font-size: 1.4em;
  width: 100%;
  background: #F3ECE1;
}

html body h2 {
  font-size: 3rem;
}

html body h3 {
  font-size: 2.2rem;
}

html body p {
  width: 90%;
  font-size: 1.9rem;
}

html body ul,
html body li {
  font-size: 1.9rem;
}

@media (max-width: 1024px) {
  .body {
    font-size: 1.4em;
  }
}

@media (max-width: 680px) {
  .body {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .body {
    font-size: 1em;
  }
}

@media (max-width: 1024px) {
  th,
  td {
    width: 200px;
  }
}

@media (max-width: 680px) {
  th,
  td {
    width: 100px;
  }
}

@media (max-width: 480px) {
  th,
  td {
    width: 100px;
  }
}

#page-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  line-height: 1.2rem;
  background: #fff;
  padding: 10px;
  border: solid 1px;
  border-radius: 50%;
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.container .title {
  height: 150px;
}

.container a {
  color: black;
  text-decoration: none;
  border: solid 1px black;
  padding: 3px 5px;
  border-radius: 100px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container a:hover {
  background-color: white;
}

.container .graph {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 20px 0;
}

.container .shadow_gray {
  -webkit-box-shadow: 1px 1px 20px rgba(84, 84, 84, 0.5);
          box-shadow: 1px 1px 20px rgba(84, 84, 84, 0.5);
}

.container h3 {
  margin: 25px 0;
}

.container .back_white {
  background-color: white;
  padding: 20px;
  width: 90%;
  border-radius: 10px;
  margin: 100px auto;
}

.container .back_white h2 {
  margin-top: 10px;
}

.container .back_white ol {
  display: block;
  width: 200px;
  text-align: left;
}

.container .back_white .graph_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container ul {
  display: block;
  width: 200px;
  text-align: left;
  margin: 20px auto;
}

.container table {
  margin: 20px auto;
}

.container table th {
  color: #D46877;
}

.container table th,
.container table td {
  border: solid 1px black;
  padding: 10px;
}

.container h2 {
  margin: 100px 0 50px;
  color: #D46877;
}

.container p {
  line-height: 4rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.container .trainer {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.container .trainer .profile {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  width: 330px;
  height: 450px;
  padding: 0px;
  margin: 0 30px;
}

.container .trainer .profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container .trainer .profile ul {
  margin-top: 30px;
}

.container footer small {
  display: block;
  margin-top: 100px;
}

.container footer ul {
  text-align: left;
  width: 300px;
}
/*# sourceMappingURL=style.css.map */