@charset "UTF-8";
/* ========== すべて共通 ========== */
html,
body {
  font-size: 16px;
  font-family: 'Kiwi Maru', serif;
  color: #393939;
  background: white;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
div,
p,
h1,
h2,
h3,
h4,
ul,
figure {
  margin: 0;
  padding: 0;
}

p,
td,
th,
li {
  line-height: 1.8;
}

img {
  width: 100%;
  height: auto;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 共通の見出し */
.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1000px;
}

h2 {
  font-size: 2rem;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* ========== ヘッダー ========== */
header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 1px 2px gray;
          box-shadow: 0 1px 2px gray;
}

header .header-container {
  padding-left: 10px;
  padding-right: 10px;
}

header .header-container .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .header-inner .ucsef-logo {
  width: 120px;
  padding: 5px 0;
}

header .header-container .header-inner nav {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
}

header .header-container .header-inner nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header-container .header-inner nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  list-style-type: none;
}

header .header-container .header-inner nav ul li + li {
  border-left: 1px solid gray;
}

header .header-container .header-inner nav ul li a {
  color: black;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.03s;
  transition: all 0.03s;
  font-size: 1rem;
}

header .header-container .header-inner nav ul li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .header-container .header-inner .right-parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .header-inner .right-parts .twitter-link {
  font-size: 2rem;
  color: #08A3F0;
  padding-right: 10px;
}

header .header-container .header-inner .right-parts .menu-btn {
  width: 2rem;
  height: 2rem;
  margin-top: 2px;
  background: white;
  border: 1px solid gray;
  border-radius: 4px;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  header .header-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  header .header-container .ucsef-logo {
    width: 120px;
    padding: 10px 0;
  }
  header .header-container .ucsef-logo .twitter-link {
    font-size: 3rem;
  }
  header .header-container .menu-btn {
    display: none;
  }
  header .header-container nav {
    display: block !important;
  }
}

/* ========== ナビゲーション ========== */
@media screen and (min-width: 768px) {
  .navigation .navbar {
    display: none;
  }
}

/* ========== キービジュアル ========== */
.key-visual {
  background: -webkit-gradient(linear, left top, right top, from(#F6D365), to(#FDA085));
  background: linear-gradient(90deg, #F6D365 0%, #FDA085 100%);
  padding-top: 0;
  padding-bottom: 50px;
}

.key-visual img {
  display: block;
  border-radius: 12px;
  max-width: 300px;
  padding-top: 100px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .key-visual img {
    max-width: 400px;
    margin: 0 auto;
  }
}

/* ========== 概要 ========== */
.overview .overview-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.overview .overview-container p {
  line-height: 3rem;
}

.overview .overview-container p span {
  font-weight: 100;
}

.overview .overview-container a {
  display: block;
  text-decoration: none;
  color: white;
  background: red;
  width: 180px;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  margin: 80px auto 0 auto;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.overview .overview-container a:hover {
  background: transparent;
  color: red;
  border: 1px solid red;
}

/* ========== 自己紹介 ========== */
.staff {
  padding: 100px 5px;
  background: -webkit-gradient(linear, left top, right top, from(#A1C4FD), to(#C2E9FB));
  background: linear-gradient(90deg, #A1C4FD 0%, #C2E9FB 100%);
}

.staff .staff-container h2 {
  color: white;
}

.staff .staff-container .flex-box {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 4px gray;
          box-shadow: 1px 1px 4px gray;
}

.staff .staff-container .flex-box .main-intro {
  width: 300px;
}

.staff .staff-container .flex-box .main-intro img {
  max-width: 250px;
  display: block;
  padding-top: 20px;
  margin: 0 auto;
  border-radius: 200px;
}

.staff .staff-container .flex-box .main-intro h3 {
  font-size: 2rem;
  font-weight: 300;
  padding: 30px 0;
  text-align: center;
}

.staff .staff-container .flex-box .staff-talk {
  background: white;
  border-top: 1px solid #bdbdbd;
  border-radius: 4px;
  max-width: 600px;
  top: 100px;
  left: 400px;
  padding: 30px;
  margin-bottom: 10px;
}

.staff .staff-container .flex-box .staff-talk ul {
  list-style-position: inside;
  padding-bottom: 10px;
}

.staff .staff-container .flex-box .staff-talk ul .intro-bold {
  color: #D77480;
  font-weight: 500;
}

.staff .staff-container .flex-box .staff-talk p {
  line-height: 2rem;
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  .staff {
    padding-left: 30px;
    padding-right: 30px;
  }
  .staff .container .flex-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .staff .container .flex-box .main-intro {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 300px;
  }
  .staff .container .flex-box .main-intro img {
    width: 250px;
    display: block;
    padding: 0;
  }
  .staff .container .flex-box .staff-talk {
    border-left: 1px solid #bdbdbd;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    background: white;
    top: 50px;
    left: 300px;
    padding: 30px;
  }
}

.plan {
  background: pink;
}

.plan .plan-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.plan .plan-container h2 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.plan .plan-container .text {
  background: white;
  max-width: 800px;
  margin: 20px auto;
  padding: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 4px gray;
          box-shadow: 1px 1px 4px gray;
  list-style-position: inside;
}

.plan .plan-container .text li {
  padding-top: 20px;
}

.contact {
  text-align: center;
}

.contact .container-contact {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact .container-contact a {
  display: block;
  text-decoration: none;
  color: white;
  background: red;
  width: 180px;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  margin: 30px auto 30px auto;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact .container-contact a:hover {
  background: transparent;
  color: red;
  border: 1px solid red;
}

/* ========== フッター ========== */
footer {
  background: #a4a4a4;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

footer .footer-container {
  padding-top: 50px;
  padding-bottom: 10px;
}

footer .footer-container h2 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

footer .footer-container p {
  padding-bottom: 30px;
}

.nav-humberger {
  background-color: transparent;
  width: 250px;
  position: absolute;
  top: 45px;
  right: 0px;
}

.nav-humberger .navbar {
  background: white;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 4px gray;
          box-shadow: 1px 1px 4px gray;
}

.nav-humberger .navbar li {
  list-style-position: inside;
  list-style: none;
  padding: 15px;
  text-align: center;
}

.nav-humberger .navbar li + li {
  border-top: 1px solid gray;
}

.nav-humberger .navbar li a {
  margin: 0 auto;
  display: block;
  width: 200px;
  color: black;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */