/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background:rgb(194, 194, 194);
}
h1{
  font-size:100px;
  color:red;
}
input{
  font-size: 50px;
}
input[type="button"]{
  width:200px;
  margin: 10px;
}
input[type="text"]{
  width:200px;
} */