@charset "utf-8";

$main-color: #17afe5;

$main-text: #222;
$main-bg: #dae4e9;
$footer-bg: #222;
$accent-twitter: rgb(97, 221, 243);
$accent-btn: #17afe5;
$accent-btn-bottom: #027199;
$accent-btn-hover: #48bfeb;
$breakpoint-down: (
	"sm": "screen and (max-width: 399px)",
	"md": "screen and (max-width: 767px)",
	"lg": "screen and (max-width: 999px)",
	"xl": "screen and (max-width: 1199px)",
) !default;

@mixin mq-down($breakpoint: md) {
	@media #{map-get($breakpoint-down, $breakpoint)} {
		@content;
	}
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝全体
html {
	scroll-behavior: smooth;
}
body {
	color: $main-text;

	font-family: sans-serif;
	//font-size:16px;
	font-family: "Noto Sans JP", sans-serif;
	line-height: 1.5;
}
img {
	max-width: 100%;

	vertical-align: top;
}
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// ===================共通装飾Block
.title {
	padding-top: 100px;

	transition: opacity 1s, transform 0.5s; /* 透明度と位置を設定 */
	transform: translateX(-50px); /* 最初は元の位置より左にずらしておく */
	text-align: center;

	opacity: 0; /* 最初は非表示にしておく */

	font-size: 3rem;
}
.title-fadein {
	transform: translateX(0); /* 位置を最初の位置に戻す */

	opacity: 1; /* 表示させる */
}
.sub-title {
	padding-bottom: 100px;

	text-align: center;

	color: $main-color;

	font-size: 1.5rem;
}
// ===================ヘッダー

.btn {
	display: inline-block;

	width: 250px;
	max-width: 100%;
	height: 3rem;

	transition: all 0.2s;
	text-align: center;
	text-decoration: none;

	color: white;
	border-radius: 5px;
	background: $accent-btn;

	font-size: 1.2rem;
	line-height: 3rem;
	&--round {
		border-radius: 1rem;
	}
	&--hover_scale {
		&:hover,
		&:focus {
			transform: scale(1.03);
		}
	}

	&--shadow {
		box-shadow: 0 5px 0 0 $accent-btn-bottom;
		&:hover,
		&:focus {
			margin-top: 5px;
			// height: 2.9rem;
			margin-bottom: 0px;
			// transform: translateY(4px);

			background: $accent-btn-hover;
			box-shadow: none;
		}
	}
}

.menu {
	display: flex;
	justify-content: space-around;

	font-size: 0.9rem;
	&__list {
		list-style: none;
	}
	&__anchor {
		padding-bottom: 5px;

		transition: 0.3s all;
		text-decoration: none;

		color: $main-text;
		border-bottom: solid 1px transparent;
		&:hover {
			border-bottom: solid 1px black;
		}
	}
}
.header {
	background: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	&__inner {
		display: flex;
		align-items: center;

		margin: 0 15px;

		@include mq-down(lg) {
			justify-content: space-between;

			margin: 0;
		}
	}
	&__title {
		flex: 0;

		width: 150px;
		margin: 10px;
	}

	&__menu {
		flex: 1;

		@include mq-down(lg) {
			display: none;
		}
	}

	&__btn {
		width: 180px;
		height: 2rem;
		margin-right: 30px;

		transition: all 0.3s;

		font-size: 1rem;
		line-height: 2rem;

		@include mq-down(lg) {
			// 引数を個別に指定
			margin-right: 10px;
		}
	}
	&__twitter-link {
		flex: 0;
	}
	&__twitter-icon {
		color: $accent-twitter;

		font-size: 2.5rem;
	}
}
// ===================キービジュアル
.keyvisual {
	position: relative;

	height: 100vh;

	background: url("images/flower.png") center center / cover;
	&__title {
		padding-bottom: 50px;

		text-align: center;
		letter-spacing: 1rem;

		color: white;

		font-size: 3rem;

		@include mq-down(sm) {
			letter-spacing: 0;
		}
	}
	&__text {
		padding-bottom: 80px;

		letter-spacing: 0.3rem;

		color: white;
	}
	&__arrow {
		animation: keyvisual__arrow 1.5s linear infinite;

		color: white;

		font-size: 3rem;
	}
	&__body {
		position: absolute;
		top: 200px;
		left: 50%;

		padding: 100px 0;

		transform: TranslateX(-50%);
		text-align: center;
	}
}
@keyframes keyvisual__arrow {
	0% {
		transform: translateY(0);

		opacity: 1;
	}
	100% {
		transform: translateY(50px);

		opacity: 0;
	}
}

.about-us {
	&__inner {
		max-width: 800px;
		margin: 150px auto;
		padding: 30px 30px;

		text-align: center;

		border: solid 2px $main-text;

		line-height: 2;
	}
}
.service {
	padding: 1px;

	text-align: center;

	background: $main-bg;

	&__inner {
		margin-bottom: 100px;
	}
	&__media {
		margin: 10px;
	}
	// ボタンを中央寄せ
	// marginの相殺を防ぐ
	&__title {
	}
	&__sub {
	}
	&__flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		padding-bottom: 50px;
	}

	&__btn {
		margin-bottom: 5px;

		background: $accent-btn;
	}
}
.media {
	width: 300px;
	height: 350px;

	text-align: center;

	background: white;
	&__icon {
		height: 130px;

		font-size: 100px;
		line-height: 130px;
	}
	&__body {
		padding: 10px;
	}
	&__title {
		padding-bottom: 10px;

		font-size: 2rem;
	}
	&__text {
	}
}
.wide-button {
	display: flex;
	align-items: center;

	width: 400px;
	max-width: 100%;
	padding: 10px 0;

	transition: all 0.3s;

	color: white;
	border-radius: 10px;
	text-decoration: none;
	&__left {
		flex-grow: 1;

		text-align: center;
	}
	&__sub-title {
	}
	// box-szingにおける　paddingとmarignのち外
	&__title {
		text-align: center;

		font-size: 3rem;
		line-height: 4rem;
	}
	&__icon {
		flex-grow: 0;

		padding-right: 30px;

		font-size: 3.5rem;
	}
	&:hover {
		transform: scale(1.05);

		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

		filter: opacity(0.5);
	}
}
.sample {
	&__wide-button {
		margin: 0 auto 50px;
	}
	&__wide-button:last-child {
		margin-bottom: 200px;
	}
	&__wide-button:nth-child(3) {
		background: url(images/wide-button1.jpg) center center/ cover;
	}
	&__wide-button:nth-child(4) {
		background: url(images/wide-button2.jpg) center center/ cover;
	}
}
.member {
	background: $main-bg;
	// marginの相殺を防ぐ

	&__flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		padding-bottom: 100px;
	}
}
.card {
	height: 300px;
	margin: 10px;

	border-radius: 4px;
	background: white;
	&__figure {
		overflow: hidden;

		height: 150px;

		border-radius: 4px 4px 0 0;
	}
	&__title {
		line-height: 3rem;
	}
	&__img {
		transition: all 0.2s;
		&:hover {
			transform: scale(1.1);
		}
	}
	&__text {
	}
	&__body {
		padding: 10px;
	}
}
.footer {
	height: 5rem;

	text-align: center;

	background: $main-text;
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);
	&__copy-write {
		padding-top: 100px;

		text-align: center;

		color: white;

		line-height: 5rem;
	}
}
// ==============
// 進捗バー表示
// #splash {
// 	/*fixedで全面に固定*/
// 	position: fixed;
// 	z-index: 999;
// 	width: 100%;
// 	height: 100%;
// 	background: $main-color;
// 	text-align: center;
// 	color: #fff;
// }

// /* Loadingバー中央配置　*/
// #splash_text {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	z-index: 999;
// 	width: 100%;
// 	transform: translate(-50%, -50%);
// 	color: #fff;
// }

// /*IE11対策用バーの線の高さ※対応しなければ削除してください*/
// #splash_text svg {
// 	height: 2px;
// }
// ===============article
.article {
	&__body {
		max-width: 1000px;
		margin: 50px auto;
		padding-right: 15px;
		padding-left: 15px;
		& > *:last-child {
			margin-bottom: 200px;
		}
	}
	.header {
		&__inner {
			justify-content: center;
		}
		&__title {
			margin-right: 100px;
		}
	}
	&__h1 {
		font-size: 4rem;
		letter-spacing: 1rem;
		margin: 50px 0 30px;
	}
	&__ul {
		list-style: inside;
		margin: 10px 0 10px 20px;
	}
	&__h2 {
		font-size: 2.5rem;
		letter-spacing: 0.5rem;
		margin: 60px 0 60px;
		border-radius: 4px;
		position: relative;
		border-bottom: 4px solid $main-color;
	}
	&__h3 {
		font-size: 2rem;
		margin: 50px 0 30px 30px;
		position: relative;
		&::before {
			content: " ";
			width: 10px;
			height: 3rem;
			left: -30px;
			top: 2px;
			background: $main-color;
			position: absolute;
		}
	}
	&__h4 {
		font-size: 1.5rem;
		margin: 50px 0 20px;
	}
	&__p {
	}
}
