@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  color: #222;
  font-family: sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  vertical-align: top;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  padding-top: 100px;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, transform 0.5s;
  transition: opacity 1s, transform 0.5s, -webkit-transform 0.5s;
  /* 透明度と位置を設定 */
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  /* 最初は元の位置より左にずらしておく */
  text-align: center;
  opacity: 0;
  /* 最初は非表示にしておく */
  font-size: 3rem;
}

.title-fadein {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  /* 位置を最初の位置に戻す */
  opacity: 1;
  /* 表示させる */
}

.sub-title {
  padding-bottom: 100px;
  text-align: center;
  color: #17afe5;
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  width: 250px;
  max-width: 100%;
  height: 3rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background: #17afe5;
  font-size: 1.2rem;
  line-height: 3rem;
}

.btn--round {
  border-radius: 1rem;
}

.btn--hover_scale:hover, .btn--hover_scale:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.btn--shadow {
  -webkit-box-shadow: 0 5px 0 0 #027199;
          box-shadow: 0 5px 0 0 #027199;
}

.btn--shadow:hover, .btn--shadow:focus {
  margin-top: 5px;
  margin-bottom: 0px;
  background: #48bfeb;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.9rem;
}

.menu__list {
  list-style: none;
}

.menu__anchor {
  padding-bottom: 5px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  text-decoration: none;
  color: #222;
  border-bottom: solid 1px transparent;
}

.menu__anchor:hover {
  border-bottom: solid 1px black;
}

.header {
  background: white;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

@media screen and (max-width: 999px) {
  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
}

.header__title {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  width: 150px;
  margin: 10px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 999px) {
  .header__menu {
    display: none;
  }
}

.header__btn {
  width: 180px;
  height: 2rem;
  margin-right: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1rem;
  line-height: 2rem;
}

@media screen and (max-width: 999px) {
  .header__btn {
    margin-right: 10px;
  }
}

.header__twitter-link {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.header__twitter-icon {
  color: #61ddf3;
  font-size: 2.5rem;
}

.keyvisual {
  position: relative;
  height: 100vh;
  background: url("images/flower.png") center center/cover;
}

.keyvisual__title {
  padding-bottom: 50px;
  text-align: center;
  letter-spacing: 1rem;
  color: white;
  font-size: 3rem;
}

@media screen and (max-width: 399px) {
  .keyvisual__title {
    letter-spacing: 0;
  }
}

.keyvisual__text {
  padding-bottom: 80px;
  letter-spacing: 0.3rem;
  color: white;
}

.keyvisual__arrow {
  -webkit-animation: keyvisual__arrow 1.5s linear infinite;
          animation: keyvisual__arrow 1.5s linear infinite;
  color: white;
  font-size: 3rem;
}

.keyvisual__body {
  position: absolute;
  top: 200px;
  left: 50%;
  padding: 100px 0;
  -webkit-transform: TranslateX(-50%);
          transform: TranslateX(-50%);
  text-align: center;
}

@-webkit-keyframes keyvisual__arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes keyvisual__arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

.about-us__inner {
  max-width: 800px;
  margin: 150px auto;
  padding: 30px 30px;
  text-align: center;
  border: solid 2px #222;
  line-height: 2;
}

.service {
  padding: 1px;
  text-align: center;
  background: #dae4e9;
}

.service__inner {
  margin-bottom: 100px;
}

.service__media {
  margin: 10px;
}

.service__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.service__btn {
  margin-bottom: 5px;
  background: #17afe5;
}

.media {
  width: 300px;
  height: 350px;
  text-align: center;
  background: white;
}

.media__icon {
  height: 130px;
  font-size: 100px;
  line-height: 130px;
}

.media__body {
  padding: 10px;
}

.media__title {
  padding-bottom: 10px;
  font-size: 2rem;
}

.wide-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  max-width: 100%;
  padding: 10px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.wide-button__left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.wide-button__title {
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
}

.wide-button__icon {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-right: 30px;
  font-size: 3.5rem;
}

.wide-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.sample__wide-button {
  margin: 0 auto 50px;
}

.sample__wide-button:last-child {
  margin-bottom: 200px;
}

.sample__wide-button:nth-child(3) {
  background: url(images/wide-button1.jpg) center center/cover;
}

.sample__wide-button:nth-child(4) {
  background: url(images/wide-button2.jpg) center center/cover;
}

.member {
  background: #dae4e9;
}

.member__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}

.card {
  height: 300px;
  margin: 10px;
  border-radius: 4px;
  background: white;
}

.card__figure {
  overflow: hidden;
  height: 150px;
  border-radius: 4px 4px 0 0;
}

.card__title {
  line-height: 3rem;
}

.card__img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card__body {
  padding: 10px;
}

.footer {
  height: 5rem;
  text-align: center;
  background: #222;
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);
}

.footer__copy-write {
  padding-top: 100px;
  text-align: center;
  color: white;
  line-height: 5rem;
}

.article__body {
  max-width: 1000px;
  margin: 50px auto;
  padding-right: 15px;
  padding-left: 15px;
}

.article__body > *:last-child {
  margin-bottom: 200px;
}

.article .header__inner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article .header__title {
  margin-right: 100px;
}

.article__h1 {
  font-size: 4rem;
  letter-spacing: 1rem;
  margin: 50px 0 30px;
}

.article__ul {
  list-style: inside;
  margin: 10px 0 10px 20px;
}

.article__h2 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  margin: 60px 0 60px;
  border-radius: 4px;
  position: relative;
  border-bottom: 4px solid #17afe5;
}

.article__h3 {
  font-size: 2rem;
  margin: 50px 0 30px 30px;
  position: relative;
}

.article__h3::before {
  content: " ";
  width: 10px;
  height: 3rem;
  left: -30px;
  top: 2px;
  background: #17afe5;
  position: absolute;
}

.article__h4 {
  font-size: 1.5rem;
  margin: 50px 0 20px;
}
/*# sourceMappingURL=style.css.map */